
.main-div {
  margin: 10%;
}

.secend-div {
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid;
  border-color: rgb(224, 224, 224) !important;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}

.button-signup {
  margin-right: 25%;
  margin-left: 25%;

}